* {
  margin: 0;
  padding: 0;
}

.head,
#logo,
#nav ul li,
#searchBar {
  padding: 5px;
  text-decoration: none;
  list-style: none;
}
#logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: aliceblue;
}

#nav a {
  text-decoration: none;
  color: rgba(242, 244, 247, 0.685);
  font-family: Georgia, "Times New Roman", Times, serif;
}
#nav ul {
  text-decoration: none;
  display: flex;
  gap: 20px;
  list-style-type: style none;
  margin: 0;
  padding: 0;
}
#nav ul :hover {
  transform: scale(1.1);
}
header {
  border: #222 solid 2px;
  background: #414141;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 9999;
}
header #searchBar {
  display: flex;
  align-items: center;
  justify-content: end;
  background-color: #f0f2f5;
  border-radius: 30px;
  padding: 5px 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

header #searchBar input {
  border: none;
  background: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  color: #333;
  flex: 1; /*Faz o input ocupar o espaço restante*/
}
Header #searchBar button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
  transition: transform 0.2s;
}
#searchBar button:hover {
  transform: scale(1.1);
}

main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

#Backdrop {
  display: flex;
  justify-content: center;
  background-size: cover;
  pointer-events: none;
  position: absolute;
  height: 20vh;
  height: auto;
  border: #222 solid;
  z-index: 0;
}
#Backdrop img {
  height: auto;
  opacity: 0.4;
  width: 100vw;
}
#Movie_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
  margin-top: 30vh;
  z-index: 0;
}

#Movie_info img {
  width: 200px;
}

#title,
#subtitle {
  padding-left: 20px;
}

#resultados {
  background-color: #f0f2f5;
  position: absolute;
  width: 300px;
  height: auto;
  padding-top: 15px;
}

.item-resultado {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.item-resultado:hover {
  background: #333;
}

.logo {
  padding: 15px;
}
