* {
  background-color: #f2e3d0;
}

#head {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
#nav ul li {
  margin-right: 20px;
  text-decoration: none;
}
main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}

#Backdrop {
  background-size: cover;
  background-position: center;
  position: absolute;
  padding-bottom: 20vh;
  padding-left: 5vw;
  padding-right: 5vw;
  width: 100%;
  height: auto;
  border: red solid 2px;
}

#Movie_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
}

#Movie_info img {
  width: 200px;
}

#title,
#subtitle {
  padding-left: 20px;
}

#resultados {
  background: #222;
  position: absolute;
  width: 300px;
}

.item-resultado {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.item-resultado:hover {
  background: #333;
}
