* {
  background-color: #f2e3d0;
  margin: 0;
  padding: 0;
}

#head,
#logo,
#nav ul,
#nav ul li,#searchBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style: none;
  text-decoration: none;
  justify-content: space-between;
  padding: 5px;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

#Backdrop {
  display: flex;
  justify-content: center;
  background-size: cover;
  pointer-events: none;
  position: absolute;
  height: 675px;
  height: auto;
  z-index: 0;
  border: red solid 1px;
}
#Backdrop img {
  width: 100%;
  height: auto;
  opacity: 0.5;
  width: 1200px;
}
#Movie_info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 45vw;
  margin-top: 40vh;
  z-index: 1;
}

#Movie_info img {
  width: 200px;
}

#title,
#subtitle {
  padding-left: 20px;
}

#resultados {
  background: #222;
  position: absolute;
  width: 300px;
}

.item-resultado {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
}

.item-resultado:hover {
  background: #333;
}
